<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wordle - Home</title>
    <link rel="stylesheet" href="/css/homeStyles.css">

</head>
<body>
<h1>Wordle</h1>
<a href="/game">Play Game</a>

<!-- Usages Section -->
<div class="features">
    <h2>Usages</h2>
    <ul>
        <li>Engaging word-guessing gameplay.</li>
        <li>Hints and stats to help you improve.</li>
        <li>Daily challenges to test your skills.</li>
    </ul>
</div>

</body>
</html>
